<!DOCTYPE html>
<html>
  <head>
    <title>Campster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Archivo:400,500,600,700&display=swap" rel="stylesheet">
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon-16x16.png') %>

    <script type="text/javascript">
      window.camp1URL = "<%= image_url('laura-pluth-RMicIhNOOIg-unsplash.jpg') %>";
      window.camp2URL = "<%= image_url('tommy-lisbin-2DH-qMX6M4E-unsplash.jpg') %>";
      window.iconURL = "<%= image_url('campster-icon.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
