<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156485911-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-156485911-1');
    </script>

    <title>Campster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Campster" />
    <meta property="og:description"
          content="A single-page full-stack clone of Hipcamp.com (React/Redux, Ruby on Rails, PostgreSQL, HTML5, CSS 3)" />
    <meta name="author" content="Kenny Lozeau" />
    <meta property="og:image" content="./app/assets/images/camp1.jpg" />

    <link href="https://fonts.googleapis.com/css?family=Archivo:400,500,600,700&display=swap" rel="stylesheet">
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon-16x16.png') %>

    <script type="text/javascript">
      window.camp1URL = "<%= image_url('camp1.jpg') %>";
      window.camp2URL = "<%= image_url('camp2.jpg') %>";
      window.camp3URL = "<%= image_url('camp3.jpg') %>";
      window.camp4URL = "<%= image_url('camp4.jpg') %>";
      window.camp5URL = "<%= image_url('camp5.jpg') %>";
      window.camp6URL = "<%= image_url('camp6.jpg') %>";
      window.camp7URL = "<%= image_url('camp7.jpg') %>";
      window.camp8URL = "<%= image_url('camp8.jpg') %>";
      window.camp9URL = "<%= image_url('camp9.jpg') %>";
      window.camp10URL = "<%= image_url('camp10.jpg') %>";
      window.camp11URL = "<%= image_url('camp11.jpg') %>";
      window.camp12URL = "<%= image_url('camp12.jpg') %>";
      window.camp13URL = "<%= image_url('camp13.jpg') %>";
      window.camp14URL = "<%= image_url('camp14.jpg') %>";
      window.camp15URL = "<%= image_url('camp15.jpg') %>";
      window.camp16URL = "<%= image_url('camp16.jpg') %>";
      window.camp17URL = "<%= image_url('camp17.jpg') %>";
      window.camp18URL = "<%= image_url('camp18.jpg') %>";
      window.camp19URL = "<%= image_url('camp19.jpg') %>";
      window.camp20URL = "<%= image_url('camp20.jpg') %>";
      window.camp21URL = "<%= image_url('camp21.jpg') %>";
      window.camp22URL = "<%= image_url('camp22.jpg') %>";
      window.camp23URL = "<%= image_url('camp23.jpg') %>";
      window.camp24URL = "<%= image_url('camp24.jpg') %>";
      window.camp25URL = "<%= image_url('camp25.jpg') %>";
      window.camp26URL = "<%= image_url('camp26.jpg') %>";
      window.camp27URL = "<%= image_url('camp27.jpg') %>";
      
      window.iconURL = "<%= image_url('campster-icon.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
